body {
	font-size: 140%;
	margin: 0;
	border: 0;
	height: 100%;
}

div.ribbon {
	width: 100%;
	min-height: 400px;
	margin: auto;
	margin-bottom: 45px;
	overflow:hidden;
	background: #f9f9f9;
	border: 1px solid #000;
	border-top: 0px solid #000;
	border-radius: 0px 0px 8px 8px;
}
div.menu_1_item {
	padding: 20px;
	font-size: 180%;
	
}
/* path */
div.path {
	
	font-size: 130%;
	
}

/*products */


div.prod_list {
	
	
}
span.prod_head_spec {
	font-size: 200%;
	
}
/*contact*/
div.map_text {
	width:100%;
}
div.map_cont {
	float: right;
	width: 100%;
}